{% load static %}

<!DOCTYPE html>
<html lang="br">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Edno Almeida</title>

	<link rel="shortcut icon" href="{% static 'assets/images/gt_favicon.png' %}">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<style>	
	#project-header,#skill-header {
	text-align: center
	}
		
	.skills {
	  display: flex;
	  flex-wrap: wrap;
	  padding: 0 4px;
	
	}
	
	.skill {
	  flex: 11.11%;
	  padding: 0 50px;
	  max-width: 11.11%;
	}
	
	.skill img {
	  margin-top: 20px;
	  vertical-align: middle;
	  width: 100%;
	  border: 0.5px solid black;
	}
	
	.div-border{
	 padding: 10px;
	 border: 0.1px solid  #bfbfbf;
	}
	
	
	.resume{
		padding-left: 80px;
	}
	
	.resume-title {
	
	  margin-top: 30px;
	  margin-bottom: 20px;
	
	}
	
	.resume .resume-item {
	  padding: 0 0 20px 20px;
	  margin-top: -2px;
	  border-left: 2px solid #0563bb;
	  position: relative;
	}
	
	.resume .resume-item h4 {
	  line-height: 18px;
	  font-size: 18px;
	  font-weight: 600;
	  text-transform: uppercase;
	  font-family: "Poppins", sans-serif;
	  color: #0563bb;
	  margin-bottom: 10px;
	}
	
	.resume .resume-item h5 {
	  font-size: 16px;
	  background: #f7f8f9;
	  padding: 5px 15px;
	  display: inline-block;
	  font-weight: 600;
	  margin-bottom: 10px;
	}
	
	.resume .resume-item ul {
	  padding-left: 20px;
	}
	
	.resume .resume-item ul li {
	  padding-bottom: 10px;
	}
	
	.resume .resume-item:last-child {
	  padding-bottom: 0;
	}
	
	.resume .resume-item::before {
	  content: "";
	  position: absolute;
	  width: 16px;
	  height: 16px;
	  border-radius: 50px;
	  left: -9px;
	  top: 0;
	  background: #fff;
	  border: 2px solid #0563bb;
	}
</style>


<body class="home">

<header id="header">
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="{{ profile.image.url }}" alt="">
			<span class="title">Olá, sou Edno Almeida</span>
			<span class="tagline">Cientista de Dados | Programador | Desenvolvedor<br>
				<i class="fa fa-envelope"></i><a href=mailto:{{profile.email}}>edno2819@gmail.com</a></span>
				<!-- <i class="fa fa-phone"></i><a href="">+55 (98) 999054639</a></span> -->

				<div class="widget-body">
					<p>
						<a href="#curriculo"><i class="fa fa-coffee fa-2"  style="color: rgb(7, 7, 8);"></i></a>
						<a href={{ profile.github_link }} target="_blank"><i class="fa fa-github fa-2"  style="color: rgb(0, 0, 0);"></i></a>
						<a href={{ profile.linkedin_link }} target="_blank"><i class="fa fa-linkedin fa-2"  style="color: rgb(0, 0, 0);"></i></a>
					</p>
				</div>
		</h1>
	</div>

	<nav class="navbar navbar-default navbar-sticky">
		<div class="container-fluid">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			
			<div class="navbar-collapse collapse">
				
				<ul class="nav navbar-nav">
					<li class="active"><a href="#head">Home</a></li>
					<li><a href="#curriculo">Currículo</a></li>
					<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-left.html">Left Sidebar</a></li>
							<li><a href="sidebar-right.html">Right Sidebar</a></li>
							<li><a href="single.html">Blog Post</a></li>
						</ul>
					</li> -->
					<li><a href="/blog">Blog</a></li>
				</ul>
			
			</div><!--/.nav-collapse -->			
		</div>	
	</nav>
</header>

<main id="main">

	<div class="container">
		
		<div class="row section topspace">
			<div class="col-md-12">
				<p class="lead text-center text-muted">
					Automatize e otimize suas tarefas para que possa gastar sua vida no que realmente vale a pena.
			</div>
		</div> <!-- / section -->
		
		<div class="row section featured topspace">
			<h2 class="section-title"><span>Serviços</span></h2>
			<div class="row">

				<div class="col-sm-6 col-md-3" align='justify'>
					<h3 class="text-center">Criação de Dashboard</h3>
					<p>Crie dashboards para seu site, programa desktop para fizualizar e controlar o desempenho da sua empresa.</p>
					<!-- <p class="text-center"><a href="" class="btn btn-action">Veja mais</a></p> -->
				</div>

				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Automação de Tarefas</h3>
					<p align='justify'>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
					<!-- <p class="text-center"><a href="" class="btn btn-action">Veja mais</a></p> -->
				</div>

				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Extração de dados</h3>
					<p align='justify'>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
					<!-- <p class="text-center"><a href="" class="btn btn-action">Veja mais</a></p> -->
				</div>

				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Criação de sites e programas</h3>
					<p align='justify'>Projetamos, desenvolvemos e gerenciamos sites de alto impacto que geram leads, vendem produtos e contam histórias.</p>
					<!-- <p class="text-center"><a href="" class="btn btn-action">Veja mais</a></p> -->
				</div>

				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Inteligencia artificial para seu negócio</h3>
					<p align='justify'>A inteligência artificial pode contribuir não apenas para melhorar a integração do time, mas também para evitar a 
						sobrecarga, otimizar o tempo de trabalho, reduzir possíveis falhas e dores de cabeça e aumentar a produtividade, 
						aprimorando o clima organizacional, o alcance de objetivos e a divisão de tarefas.</p>
					<!-- <p class="text-center"><a href="" class="btn btn-action">Veja mais</a></p> -->
				</div>
			</div>


		</div> <!-- / section -->
	
		<div class="row section recentworks topspace">
			
			<h2 class="section-title"><span>Trabalhos</span></h2>
			
			<div class="thumbnails recentworks row">
				
				{% for project in projects %}
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href={{project.link}} target="_blank">
						<span class="img">
							<img  class="img" src="{{ project.image.url }}" alt="">
						</span>
						<span class="title"><strong>{{project.title}}</strong></span>
						<p class="card-text">{{project.description}}</p>
					</a>
					<span class="details"><a>{{ project.tag1 }}</a> | <a>{{ project.tag2 }}</a> | <a>{{ project.tag3 }}</a></span>
					<h4></h4>
					<p></p>
				</div>
				{% endfor %}

		</div> <!-- /section -->


		<div id="curriculo" class="row section topspace">
			<h2 class="section-title"><span>Experiência Profissional</span></h2>

			<div class="panel panel-cta"><div class="panel-body">
				<br>

				<section id="resume" class="resume">
				 <div class="col-lg-6">
							{% for exp in experiences %}
							<div class="resume-item vr">
							  <h4>{{exp.designation}}</h4>
								  {% if exp.is_present %}
									<h5>{{exp.start_date}} - present</h5>
								{% else %}
									<h5>{{exp.start_date}} - {{exp.end_date}}</h5>
								{% endif %}
				
							  <p><em>{{exp.company}}, {{exp.location}} </em></p>
							  <ul>
								  {% if exp.responsibilities_1 is not None %}
									<li>{{exp.responsibilities_1}}</li>
								  {% endif %}
								  {% if exp.responsibilities_2 %}
									<li>{{exp.responsibilities_2}}</li>
								  {% endif %}
								  {% if exp.responsibilities_3 %}
									<li>{{exp.responsibilities_3}}</li>
								  {% endif %}
								  {% if exp.responsibilities_4 %}
									<li>{{exp.responsibilities_4}}</li>
								  {% endif %}
				
							  </ul>
							</div>
							{% endfor %}
				
						  </div>
				</section>

				
				<div class="col-lg-8">
				</div>
				<div class="col-lg-4 text-right">
					<a href="{{ profile.cv.url }}" download class="btn btn-primary btn-lg">Download Currículo</a>
					<!-- <a href="https://jebaseelan.herokuapp.com/ " class="btn btn-primary btn-lg">Download Currículo</a> -->

				</div>

			</div></div>
		</div> <!-- /section -->

		<!-- <div class="row section clients topspace">
			<h2 class="section-title"><span>Clients</span></h2>
			<div class="col-lg-12">
				<p>
					<img src="assets/images/sample_clients.png" alt="">
				</p>
			</div>
		</div> /section -->

	</div>	<!-- /container -->




</main>

<!-- <footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+234 23 9873237<br>
						<a href="mailto:#">some.email@somewhere.com</a><br>
						<br>
						234 Hidden Pond Road, Ashland City, TN 37015
					</p>	
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href=""><i class="fa fa-github fa-2"></i></a>
						<a href=""><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer> -->

<footer id="underfooter">
	<div class="container">
		<div class="row">
			
			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>São luis-MA, Brasil </p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2022, Edno Almeida<br> 
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{% static 'assets/js/template.js' %}"></script>
</body>
</html>
